<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/serious1.css">
    <title>Bike renting</title>
</head>
<body>
    <div id='root'>
        <div id="content_wrapper">
            <form action="" id="bikerenting" method="POST">
                Model <br><input class="info" name="model" placeholder="e.g Honda"><br>
                Daily fee (VND) <br><input class="info" name="fee" placeholder="100000"><br>
                Image <br><input class="info" name="image" placeholder="e.g html://hondaxemay.com.vn"><br>
                Year <br><input class="info" name="year" placeholder="e.g. 2013"><br>
                <button class="info">Submit</button>
            </form>
        </div>
    </div>
    
    
</body>
</html>